body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2{
  text-align: center;
}

h3{
  text-align: center;
}

.parent {
  text-align: center;
}

.child {
  display: inline-block;
  background: #73AD21;
  padding: 5%;
  vertical-align: middle;
  margin: 1%;
  border-radius: 15%;
}

button{
  background-color: #c2fbd7;
  border-radius: 100px;
  color: green;
  cursor: pointer;
  display: inline-block;
  padding: 1% 3%;
  text-align: center;
  margin: 2%;
  touch-action: manipulation;
}

button:hover {
  transform: scale(1.05);
}